@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    position: relative;

}

.form{
    margin: 0;
    padding: 0;
}

.head_band {
    height: 101px;
    background-color: #dddddd;
}

.small_title a{
    color:inherit;
    text-decoration: none;  
    font-size: 300%;
    position:absolute;
    left: 10%;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #212324;
    -webkit-text-stroke: 0.2px #FFF;
    margin-top: 12px;
}

.img_center {
    text-align: center;
    margin:0;
}

.board {
    background-color: #000000;

    background-image:url(wallpaper.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    margin: 0;
}

.title_image {
    background-color: #dddddd;
    background-image:url(yinyang.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
    height: 600px;
    padding: 50px;
    margin: 0;
}

.title a{
    color:inherit;
    text-decoration: none;  
    font-size: 500%;
    position:absolute;
    left: 50%;
    margin-left: -200px;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #212324;
    -webkit-text-stroke: 0.5px #FFF;
    margin-top: 30px;
}

.title p{
    color: #212324;
    margin:0;
}

.username p{
    text-align: center;
    padding-top: 30px;
    color: #fac883;
    font-size: 130%;
    margin:0;
}

.birth p{
    text-align: center;
    color: #fac883;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 2px;
}

.birth_prefecture p{
    text-align: center;
    color: #fac883;
    margin: 0;
    padding: 10px;
}

.setsuiri p{
    text-align: center;
    color: #fac883;
    margin: 0;
    padding-bottom: 100px;
}

.select {
    color:#fac883;
    text-align: center;
    padding-top: 200px;
    margin: 0;
}

.inputs{
    color:#fac883;
    margin-left: auto;
    margin-right: auto;
    margin:auto
}

.name {
    margin-top: 20px;
    color:#fac883;
    text-align: center;
    margin: 0;
}


.birthday {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
    margin: 0;
}

.birthtime {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
    margin: 0;

}

.birthplace {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
    margin: 0;
}

.inputs td{
    border-collapse:collapse;
    border-spacing: 0;
    margin: 0;
    padding: 10px;
}

.meishiki_button_wrapper {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
    padding-bottom: 200px;
    margin:0;
}

.meishiki_button{
    height: 5vh;
    width: 10vh;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin:0;

}

.meishiki table{
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    border-spacing: 0;
}

input {
    width: 50px;
}

.meishiki td{
    border-collapse:collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.meishiki tr{
    border-collapse:collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.meishiki img{
    width: 118px;
    max-width:100%;
    padding: 0;
    margin: 0;
    border-style:none;
}

.meishiki{
    color:#fac883;
    text-align: center;
}

.daiun_body{
    padding-top: 50px;
}

.daiun_body table{
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
} 


footer a{
    color:azure
}

footer {
    background-color: #212324;
    color: azure;
    text-align: center;
    font-size: 50%;
    padding: 10px;
    
}

.none {
    height: 100vh;
}

.pass_button{
    height: 10vh;
    width: 20vh;
}

.button_wrapper{
    text-align:center;
    padding-top: 50%;
 }
 