@charset "utf-8";

body {
    margin: 0%;
    padding: 0%;
    position: relative;

}

.form{
    margin: 0%;
    padding: 0%;
}

.head_band {
    height: 100px;
    background-color: #dddddd;
}

.small_title a{
    color:inherit;
    text-decoration: none;  
    font-size: 300%;
    position:absolute;
    left: 5%;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #212324;
    -webkit-text-stroke: 0.2px #FFF;
    margin-top: 15px;
    margin:0;
}

.img_center {
    text-align: center;
    margin:0;
}

.board {
    background-color: #000000;

    background-image:url(wallpaper.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    margin: 0;
}

.title_image {
    background-color: #dddddd;
    background-image:url(yinyang.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
    height: 600px;
    padding: 50px;
    margin: 0;
}

.title a{
    color:inherit;
    text-decoration: none;  
    font-size: 500%;
    position:absolute;
    left: 50%;
    margin-left: -200px;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #212324;
    -webkit-text-stroke: 0.5px #FFF;
    margin:0;
    margin-top: 30px;
}

.title p{
    color: #212324;
    margin:0;
}

.username p{
    text-align: center;
    padding-top: 12%;
    padding-bottom: 3%;
    color: #fac883;
    font-size: 200%;
    margin:0;
}

.birth p{
    text-align: center;
    color: #fac883;
    margin: 0%;
    padding-bottom: 2%;
}

.setsuiri p{
    text-align: center;
    color: #fac883;
    margin: 0%;
    padding-bottom: 10%;
}

.select {
    color:#fac883;
    text-align: center;
    padding-top: 200px;
    margin: 0;
}

.name {
    margin-top: 20px;
    color:#fac883;
    text-align: center;
}


.birthday {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
}

.birthtime {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
}

.birthplace {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
}

.button {
    padding-top: 20px;
    color:#fac883;
    text-align: center;
    padding-bottom: 200px;
    margin:0;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin:0;

}

footer a{
    color:azure
}


footer {
    background-color: #212324;
    color: azure;
    text-align: center;
    font-size: 50%;
    padding: 10px;
    
}

.none {
    height: 100vh;
}

.pass_button{
    height: 10vh;
    width: 20vh;
}

.button_wrapper{
    text-align:center;
    padding-top: 50%;
 }
 